body{
  overflow-y: scroll;
  overflow-x: hidden;
}

.graphics-controls-show-hide {
  padding:10px;
  background:white;
}

.graphics-controls-show-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.graphics-controls-show-hide.ng-hide {
  opacity:0;
}
