{% extends "iot-base-2-am.html" %}
{% block header %} {{super() }}

{% endblock %}




{% block sidemenu %} {{super() }} {% endblock %}

{% block servicelinks %} {{super() }}

 {% endblock %}
{% block maincontent %} 

    <!-- /.col (LEFT) -->
    
    <!-- /.col (RIGHT) -->



<div class="row">

    <!-- AREA CHART -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Workout Cooldown</h3>

            <div class="box-tools pull-right">

                <div class="btn-group">
                    <div>

                        <label for="scattered_from">From</label>
                        <input type="text" id="scattered_from" name="from"/>
                        <label for="scattered_to">To</label>
                        <input type="text" id="scattered_to" name="to"/>

                        <input type="checkbox" id="chk_type1" value="son" checked="true" /> <label for="chk_type1">Show Type 1</label>
                        <input type="checkbox" id="chk_type2"  value="son2" checked="true" /> <label for="chk_type2">Show Type 2</label>
                        <input type="checkbox" id="chk_data" value="dataSelected" checked="true" /> <label for="chk_data">Show Data Points</label>


                    </div>

                </div>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body chart-responsive">

            <div id="chartdiv1" style="width:100%; height:500px;"></div>

			<p><a href="#" id="dialog-link" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-newwin"></span>Show first 5 minutes</a></p>

			<div id="dialog" title="First 5 minutes cooldown" style="min-width: 1350px; height: 500px; margin: 0 auto">

			</div>
        </div>

	
    </div>

    <!-- /.box-body -->
    </div>


    <div class="row">

        <!-- AREA CHART -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Sleep/Deep Sleep Distribution</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body chart-responsive">



                <label for="heatmap_from">From</label>
                <input type="text" id="heatmap_from" name="from"/>
                <label for="heatmap_to">To</label>
                <input type="text" id="heatmap_to" name="to"/>  </br>

                <div id="chartdiv7" style="width:100%; height:500px;"></div>

            </div>
        </div>
        <!-- /.box-body -->



    </div>









    <div class="row">

        <!-- AREA CHART -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Sleeping Hours with Deep Sleep</h3>

                <div class="box-tools pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info">Compare</button>
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a onclick="jsfunction()" href="#">Athlete 1</a></li>
                            <li><a href="#">Athlete 2</a></li>
                            <li><a href="#">Athlete 3</a></li>
                            <li><a href="#">Athlete 4</a></li>
                            <li><a href="#">Athlete 5</a></li>

                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>


                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>

                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body chart-responsive">
                <label for="gaussian_from">From</label>
			    <input type="text" id="gaussian_from" name="from"/>
			    <label for="gaussian_to">To</label>
			    <input type="text" id="gaussian_to" name="to"/>  </br>
			    <div id="chartdiv4" style="width:100%; height:500px;" ></div>


            </div>
        </div>
        <!-- /.box-body -->



    </div>
    {% endblock %}

    {% block JS %} {{super() }}
    <script src="{{url_for('static', filename= 'iss-ui.js')}}"></script>
    <script type="text/javascript" src="../static/charts.js"></script>



     <script type="text/javascript" src="http://momentjs.com/downloads/moment.js"></script>
     <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="{{url_for('static', filename= 'jquery-ui.js')}}"></script>

  <link rel="stylesheet" href="{{url_for('static', filename= 'jquery-ui.css')}}">
		<style>
			#dialog-link {
				padding: .4em 1em .4em 20px;
				text-decoration: none;
				position: relative;
			}
			#dialog-link span.ui-icon {
				margin: 0 5px 0 0;
				position: absolute;
				left: .2em;
				top: 50%;
				margin-top: -8px;
			}
			#icons {
				margin: 0;
				padding: 0;
			}
			#icons li {
				margin: 2px;
				position: relative;
				padding: 4px 0;
				cursor: pointer;
				float: left;
				list-style: none;
			}
			#icons span.ui-icon {
				float: left;
				margin: 0 4px;
			}
			.fakewindowcontain .ui-widget-overlay {
				position: absolute;
			}
			
		</style>
    <script type="text/javascript">
       		var multichart_id = '#chartdiv1';


			function update_mutlichart(){
				var user_id	= 'test@test.com';
				var date_from 	= $("#scattered_from").val();
				var date_to 	= $("#scattered_to").val();
				var show_type1 	= $("#chk_type1").is(':checked');
				var show_type2 	= $("#chk_type2").is(':checked');
				var show_data 	= $("#chk_data").is(':checked');

				// http://46.101.169.112:5000/show_stats/21/test@test.com/1.12.2015/31.03.2016
				// charts_createMultiChart("http://46.101.214.58:5555", show_type1, show_type2, show_data, user_id, date_from, date_to, multichart_id, "#chk_data");
				charts_createMultiChart("http://web01.iss.uni-saarland.de/show_stats/21", show_type1, show_type2, show_data, user_id, date_from, date_to, multichart_id, "#chk_data");
				charts_createMultiChart("http://web01.iss.uni-saarland.de/show_stats/21", show_type1, show_type2, show_data, user_id, date_from, date_to, "#dialog", "#chk_data", true);

			}
			function update_heatmap(){
				var user_id	= 'test@test.com';
				var date_from 	= $("#heatmap_from").val();
				var date_to 	= $("#heatmap_to").val();
				//charts_createHeatmap("http://46.101.214.58:5555/sleepPoints", user_id, date_from, date_to, 'chartdiv7');
				charts_createHeatmap("http://web01.iss.uni-saarland.de/sleepPoints", user_id, date_from, date_to, 'chartdiv7');
			}

			function update_gaussian(){
				var user_id	= 'test@test.com';
				var date_from 	= $("#gaussian_from").val();
				var date_to 	= $("#gaussian_to").val();
				//charts_createGaussian('http://46.101.214.58:5555/gaussianPoints', 'http://46.101.214.58:5555/gaussian', user_id,  date_from, date_to , 'chartdiv4');
				charts_createGaussian('http://web01.iss.uni-saarland.de/gaussianPoints', 'http://web01.iss.uni-saarland.de/gaussian', user_id,  date_from, date_to , 'chartdiv4');
			}
			function apply_picker(from, to, action){
				$( from ).datepicker({
					defaultDate: "+1w",
					changeMonth: true,
					numberOfMonths: 1,
					dateFormat: 'dd.mm.yy',
					onClose: function( selectedDate ) {
						$( to ).datepicker( "option", "minDate", selectedDate );
					},
					onSelect: function(date) {
						action();
					}
				});
				$( to ).datepicker({
					defaultDate: "+1w",
					changeMonth: true,
					numberOfMonths: 1,
					dateFormat: 'dd.mm.yy',
					onClose: function( selectedDate ) {
						$( from ).datepicker( "option", "maxDate", selectedDate );
					},
					onSelect: function(date) {
						action();

					}
				});
				var before =  new Date();
				var today =  new Date();
				before.setDate(before.getDate() - 30);

				$(from).datepicker('setDate', before);
				$(to).datepicker('setDate', today);
			}//apply_picker

			function select_all(){
				$('#chk_type1').attr("checked",true);
				$('#chk_type2').attr("checked",true);
				$('#chk_data').attr("checked",true);
			}

			// on ready function
			$(function() {
				select_all();
				apply_picker("#scattered_from", "#scattered_to",  update_mutlichart);
				apply_picker("#heatmap_from", "#heatmap_to", update_heatmap);
				apply_picker("#gaussian_from", "#gaussian_to", update_gaussian);




				update_mutlichart();
				update_heatmap();
				update_gaussian();


			function select_type(checkbox, container, showdata , type){
				var checked = $(checkbox).is(':checked');
				var chart = $(container).highcharts();
				var series = chart.series;
				for(var i=0; i<series.length; i++){
					if(series[i].options.grp == type && series[i].options.selected){
						if(checked)
							series[i].show();
						else
							series[i].hide();

						if(!showdata && series[i].type == 'scatter')
							series[i].hide();
					}// if group matches
				}// for

			}
			$('#chk_type1').click(function() {
				var show_data = $("#chk_data").is(':checked');
				select_type('#chk_type1', multichart_id, show_data, 'type1');}
			);

			$('#chk_type2').click(function() {
				var show_data = $("#chk_data").is(':checked');
				select_type('#chk_type2', multichart_id, show_data, 'type2');}
			);

			$('#chk_data').click(function() {
				var chart = $(multichart_id).highcharts();
				var series = chart.series;
				for(var i=0; i<series.length; i++){
					if(series[i].options.type == 'scatter'){
						var linkedto = chart.get(series[i].options.linkedTo);
						if(linkedto != null){
							if($("#chk_data").is(':checked') && linkedto.visible){
								series[i].show();
							}
							else{
								series[i].hide();
							}
						}
					}
				}


			});

		});


    </script>
    <script type="text/javascript">

			$( "#accordion" ).accordion();



			var availableTags = [
				"ActionScript",
				"AppleScript",
				"Asp",
				"BASIC",
				"C",
				"C++",
				"Clojure",
				"COBOL",
				"ColdFusion",
				"Erlang",
				"Fortran",
				"Groovy",
				"Haskell",
				"Java",
				"JavaScript",
				"Lisp",
				"Perl",
				"PHP",
				"Python",
				"Ruby",
				"Scala",
				"Scheme"
			];
			$( "#autocomplete" ).autocomplete({
				source: availableTags
			});



			$( "#button" ).button();
			$( "#radioset" ).buttonset();



			$( "#tabs" ).tabs();



			$( "#dialog" ).dialog({
				autoOpen: false,
				width: 1400,
				height: 750,
				buttons: [
					{
						text: "Ok",
						click: function() {
							$( this ).dialog( "close" );
						}
					}
				]
			});

			// Link to open the dialog
			$( "#dialog-link" ).click(function( event ) {
				$( "#dialog" ).dialog( "open" );
				event.preventDefault();
			});



			$( "#datepicker" ).datepicker({
				inline: true
			});



			$( "#slider" ).slider({
				range: true,
				values: [ 17, 67 ]
			});



			$( "#progressbar" ).progressbar({
				value: 20
			});



			$( "#spinner" ).spinner();



			$( "#menu" ).menu();



			$( "#tooltip" ).tooltip();



			$( "#selectmenu" ).selectmenu();


			// Hover states on the static widgets
			$( "#dialog-link, #icons li" ).hover(
					function() {
						$( this ).addClass( "ui-state-hover" );
					},
					function() {
						$( this ).removeClass( "ui-state-hover" );
					}
			);
     </script>
    {% endblock %}

    </html>
