{% extends "iot-base-2-am.html" %}
{% block header %} {{super() }}

{% endblock %}




{% block sidemenu %} {{super() }} {% endblock %}

{% block servicelinks %} {{super() }}


 {% endblock %}
{% block maincontent %}

<!-- /.col (LEFT) -->
<!-- /.col (RIGHT) -->
<div class="row">
    <div class="col-md-6">
        <!-- AREA CHART -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Movement</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body chart-responsive">

                 <canvas id="chart1" width="400" height="300"></canvas>

            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->


</div>



<div class="row">
    <div class="col-md-6">
        <!-- AREA CHART -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Heartbeat Per Minute</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body chart-responsive">

                <canvas id="chart2" width="400" height="300"></canvas>

            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->


</div>

<div class="row">
    <div class="col-md-6">
        <!-- AREA CHART -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Intensity</h3>

                <div class="box-tools pull-right">
                    <div class="btn-group">
                       


                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>

                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body chart-responsive">

                <div id="chartdiv3" style="width:100%; height:400px;"></div>


            </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->


</div>


{% endblock %}

  {% block JS %} {{super() }}
<script src="../static/iss-ui-realtime.js"> </script>
 <script type="text/javascript" src="./static/smoothie.js"></script>
    <script type="text/javascript">
    var value = 0;
      function getData()
     {
      json = loadJSONData("/realtimeRequestScalarHRM")
      value = json[0].value ;

    }
    function realData()
{
     random.append(new Date().getTime(),value);
     

 }
      // Randomly add a data point every 10000ms
      var random = new TimeSeries();
      
      setInterval(realData, 10000);
      
      function createTimeline() {
        var chart = new SmoothieChart({millisPerPixel:69,minValue:0,maxValue:240,timestampFormatter:SmoothieChart.timeFormatter});
        chart.addTimeSeries(random, { strokeStyle: 'rgba(0, 255, 0, 1)', fillStyle: 'rgba(0, 255, 0, 0.2)', lineWidth: 4 });
        chart.streamTo(document.getElementById("chart2"), 10000);
      }


 var value2 = 0;
      function getData2()
     {
      json = loadJSONData("/realtimeRequestScalarMovement")
      value2 = json[0].value ;

    }
    function realData2()
{
     random.append(new Date().getTime(),value2);
     

 }


// Randomly add a data point every 10000ms
      var random2 = new TimeSeries();
      
      setInterval(realData2, 10000);
      
      function createTimeline2() {
        var chart2 = new SmoothieChart({millisPerPixel:69,minValue:0,maxValue:100,timestampFormatter:SmoothieChart.timeFormatter});
        chart2.addTimeSeries(random2, { strokeStyle: 'rgba(0, 255, 0, 1)', fillStyle: 'rgba(0, 255, 0, 0.2)', lineWidth: 4 });
        chart2.streamTo(document.getElementById("chart1"), 10000);
      }

    </script>
<script type="text/javascript">
    

    //dataset = loadJSONData('getHeartRates')
    //fillDoubleOverlay("chartdiv1", dataset, "Morning/Evening HRM", "BPM", "date", "value1", "value2", "MY titke", "My title", " morning  [[value1]]", " evening [[value2]]");

    //dataset2 = loadJSONData('getSleepRates')
    //fillDoubleOverlay("chartdiv2", dataset2, "Sleep/Deep Sleep Durations", "hours", "date", "value1", "value2", "MY titke", "My title", " Sleep  [[value1]]", "Deep Sleep [[value2]]");

    //fillRealTimeAreaChart1("chartdiv1", "/realtimeRequestScalarMovement");
  //  fillRealTimeAreaChart2("chartdiv2", "/realtimeRequestScalarHRM");
    fillRealTimeGaugeChart("chartdiv3", "/realtimeRequestScalarIntensity");
    //fillDoubleLineChart("chartdiv3", dataset3,"date", "column-1", "column-2", "Daily Movement", "Your activitiy", "Average Activity","Activity Level", 'YYYY-MM-DD HH:NN', 'mm')
    createTimeline();
createTimeline2();
  
</script>

{% endblock %}

</html>
