{% extends "iot-base-2-am.html" %}
{% block header %} {{super() }}

{% endblock %}

{% block sidemenu %} {{super() }} {% endblock %}

{% block servicelinks %} {{super() }}

{% endblock %}
{% block maincontent %}

    <!-- /.col (LEFT) -->

    <!-- /.col (RIGHT) -->
<section class="content-header">
	<h1>
		Dashboard
		<small>Version 1.0</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Services</a></li>
		<li class="active">Dashboard</li>
	</ol>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-4 col-sm-6 col-xs-12">

			<div class="form-group">
				<label for="reservation">Choose Timeframe for Heartrate and Sleepdata:</label>
				<div class="input-group">
					<div class="input-group-addon">
						<i class="fa fa-calendar"></i>
					</div>
					<input type="text" class="form-control pull-right" id="reservation">
				</div><!-- /.input group -->
			</div><!-- /.form group -->
		</div>

	</div>


	<div class="row">
		<!-- Left col -->
		<div class="col-md-8">
			<!-- AREA CHART -->
			<div class="box box-solid box-primary">
				<div class="box-header with-border">
					<div class="row">
						<div class="col-md-4">
							<h3 class="box-title">Workout Cooldown</h3>
						</div>
						<div class="col-md-8">
							<div class="box-tools pull-right">

								<div class="btn-group">
									<div>

										<input type="checkbox" id="chk_type1" value="son" checked="true" /> <label for="chk_type1">Show Heartrate Data</label>
										<input type="checkbox" id="chk_data" value="dataSelected" checked="true" /> <label for="chk_data">Show Data Points</label>

									</div>

								</div>
								<button type="button" class="btn btn-box-tool" data-widget="collapse">
									<i class="fa fa-minus"></i>
								</button>
								<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
							</div>
						</div>


					</div>

				</div>
				<div class="box-body">

					<div class="row">
						<div class="col-md-6">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<label for="yLabel">Choose timrange</label>
								<select class="form-control" id="timerange">
									<option>First 5 minutes</option>
									<option>Whole Range</option>
								</select>
							</div>

						</div>
					</div>

					<div class="chart-responsive">
						<div id="chartdiv1" style="width:100%; height:500px;"></div>
					</div>


				</div>


			</div>
		</div>

		<div class="col-md-4 col-xs-12">
			<div class="box box-solid box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Curve Parameters</h3>

					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div><!-- /.box-header -->
				<div class="box-body" style="width:100%; min-height:580px;">
					<h4>Formula: (HRR<sub>~80%</sub>-c) &sdot; e<sup>(-(x-T)/a)</sup>+ c </h4>
					<hr>
					<p>a: curvature</p>
					<p>T: timeshift</p>
					<p>c: Average Heartrate at rest</p>
					<table id="tablediv" class="table table-bordered table-hover table-striped tablebox">

					</table>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div>
		<!-- /.box-body -->
    </div>

	<div class="row">
		<div class="col-md-12">
			<!-- AREA CHART -->
			<div class="box box-solid box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Correlations</h3>
					<div class="box-tools pull-right">


						<button type="button" class="btn btn-box-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>


					</div>
				</div>
				<div class="box-body">
					<div>
						<div class="btn-group">
							<div class="row">
								<div class="col-md-6 col-sm-6 col-xs-12">
									<label for="xLabel">Choose x-Label</label>
									<select class="form-control" id="xLabel"></select>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<label for="yLabel">Choose y-Label</label>
									<select class="form-control" id="yLabel"></select>
								</div>

							</div>
						</div>
					</div>


					<div class="chart-responsive">
						<div id="correlationsdiv" style="width:100%; height:500px;"></div>
					</div>
				</div>
			</div>
			<!-- /.box-body -->
		</div>
	</div>


    <div class="row">
		<div class="col-md-12">
			<div class="box box-solid box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Sleeping Hours with Deep Sleep</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
						<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
					</div>
				</div>
				<div class="box-body">
					<div class="row">
						<div class="col-md-6">

							<!-- AREA CHART -->
							<div class="box box-default">
								<div class="box-header with-border">
									<h3 class="box-title">Heatmap</h3>

									<div class="box-tools pull-right">
										<button type="button" class="btn btn-box-tool" data-widget="collapse">
											<i class="fa fa-minus"></i>
										</button>
										<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
									</div>
								</div>
								<div class="box-body chart-responsive">

									<div id="heatmapdiv" style="width:100%; height:500px;"></div>

								</div>
							</div>
							<!-- /.box-body -->
						</div>


						<div class="col-md-6">
							<!-- AREA CHART -->
							<div class="box box-default">
								<div class="box-header with-border">
									<h3 class="box-title">Gaussian</h3>

									<div class="box-tools pull-right">
										<button type="button" class="btn btn-box-tool" data-widget="collapse">
											<i class="fa fa-minus"></i>
										</button>
										<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
									</div>
								</div>
								<div class="box-body chart-responsive">
									<div id="gaussiandiv" style="width:100%; height:500px;" ></div>


								</div>
							</div>
							<!-- /.box-body -->
						</div>
					</div>

				</div>
			</div>
		</div>





    </div>


</section>
<!-- content section -->
<!--store data frpm flask-->
<div id="main_data" data-cdn-corellations="{{correlations_list}}" data-cdn-user="{{user}}"></div>

{% endblock %}

{% block JS %} {{super() }}

<link rel="stylesheet" href="{{url_for('static', filename= 'jquery-ui.css')}}">
<!-- daterange picker -->
<link rel="stylesheet" href="../static/plugins/daterangepicker/daterangepicker-bs3.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="../static/plugins/datatables/dataTables.bootstrap.css">

<style>
	#dialog-link {
		padding: .4em 1em .4em 20px;
		text-decoration: none;
		position: relative;
	}
	#dialog-link span.ui-icon {
		margin: 0 5px 0 0;
		position: absolute;
		left: .2em;
		top: 50%;
		margin-top: -8px;
	}
	#icons {
		margin: 0;
		padding: 0;
	}
	#icons li {
		margin: 2px;
		position: relative;
		padding: 4px 0;
		cursor: pointer;
		float: left;
		list-style: none;
	}
	#icons span.ui-icon {
		float: left;
		margin: 0 4px;
	}
	.fakewindowcontain .ui-widget-overlay {
		position: absolute;
	}


	.tablebox {
		width: 100%;
	}

	.tablethead, .tabletbody, .tabletr, .tabletd, .tableth { display: block; }

	.tabletr:after {
		content: ' ';
		display: block;
		visibility: hidden;
		clear: both;
	}

	.tableth {
		height: 30px;

		/*text-align: left;*/
	}

	.tabletbody {
		height: 350px;
		overflow-y: auto;
	}

	.tablethead {
		/* fallback */
	}


	.tabletd, .tableth {
		width: 25%;
		float: left;
	}


</style>

<script type="text/javascript">
	require(['config'], function(){
		require(['../static/js/init'], function (init) {
            init.initDashboard();
        });
	});
</script>
{% endblock %}

