<h2 class="md-title" flex="" style="text-align: center;">ISS Sign in</h2>
<form name="loginForm" style="max-width: 600px; margin: auto;" layout="column" layout-align="center center">
  <div layout layout-sm="column">
    <md-input-container md-no-float flex>
      <label>Email</label>
      <input type="email" name="email" ng-model="email" required>
      <div ng-messages="loginForm.email.$error">
        <div ng-message="required">Email is required.</div>
        <div ng-message="email">This is not a valid email.</div>
      </div>
    </md-input-container>
  </div>
  <md-input-container flex>
    <label>Passwort</label>
    <input type="password" name="password" ng-model="password" required>
    <div ng-messages="loginForm.password.$error">
      <div ng-message="required">Password is required.</div>
    </div>
  </md-input-container>
  <md-progress-circular md-mode="indeterminate" ng-show="signing"></md-progress-circular>
  <p ng-show="signing">Verification</p>
  <md-button class="md-raised md-primary" ng-show="!signing" ng-disabled="loginForm.$invalid" ng-click="signin(email, password)">sign in</md-button>
</form>
