<!--<div style="height: 100%; max-height: inherit;" ng-init="show_controls=false" layout-fill>-->
<div ng-init="show_controls=false" layout-fill>
  <!--<div ng-if="loading" layout="row" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>-->

  <!--<div ng-style="layoutMetrics()">-->
  <div layout-fill>
    <div id="metricsgraphics" style="height: 100%; max-height: inherit;"></div>
    <div ng-style="styleMetricsOverlayer()">
      <div class="graphics-controls-show-hide" ng-show="show_controls">
        <datepick-interval min="minDate" max="maxDate" start="startDate" end="endDate" change="replot"></datepick-interval>
        <!--<datepick-slider min="minDate" max="maxDate" start="startDate" end="endDate" change="replot"></datepick-slider>-->
      </div>
    </div>
  </div>

  <!--<div id="control_menu" layout="row" layout-align="center center" layout-sm="row" layout-align-sm="center center">-->
  <!--<div id="control_menu" ng-style="menuStyle">-->
  <div id="control_menu" layout="row" layout-align="center center" layout-sm="row" layout-align-sm="center center">
    <md-fab-speed-dial md-open="false" md-direction="up" class="md-menu md-fling ng-animate" style="float: left; width: 72px;">
      <md-fab-trigger>
        <md-button aria-label="menu" class="md-fab md-primary">
          <i class="fa fa-bar-chart"></i>
        </md-button>
      </md-fab-trigger>
      <md-fab-actions style="height: 0px;">
        <div class="md-fab-action-item" ng-repeat="type in types">
          <md-button class="md-fab md-mini md-raised" ng-class="type.class" aria-label="{{type.label}}" ng-click="setChartTypeAndReplot(type.label)" ng-disabled="data.length === 0">
            <i class="fa fa-{{type.font_icon_name}}"></i>
          </md-button>
        </div>
      </md-fab-actions>
    </md-fab-speed-dial>

    <div class="md-menu" style="float: left;">
      <md-button layout-fill class="md-fab md-raised md-primary" aria-label="test2" ng-click="show_controls=!show_controls">
       <md-icon ng-if="show_controls" md-font-library="material-icons">event_busy</md-icon>
       <md-icon ng-if="!show_controls" md-font-library="material-icons">event</md-icon>
      </md-button>
    </div>

    <div class="md-menu" style="float: left;">
      <md-button layout-fill class="md-fab md-raised md-primary" aria-label="test1" ng-click="">
       <!--<md-icon md-svg-icon="material:ic_domain_24px"></md-icon>-->
       <md-icon md-font-library="material-icons">alarm_on</md-icon>
      </md-button>
    </div>
  </div>
</div>
